In [262]:
import pandas as pd
import numpy as np

In [9]:
groups = {
    "grupo-1": ["Adult", "Banknote", "KC2", "titanic"],
    "grupo-2": ["Australian", "Breast Cancer Coimbra", "liver disorders_bupa", "Room Occupancy"],
    "grupo-3": ["Compas", "Ionosfera", "Vertebral_2C", "Vertebral_3C", "GiveMeSomeCredit"],
    "grupo-4": ["Breast Cancer Wisconsin", "Diabetes", "Phishing", "Horse colic"],
    "grupo-5": ["Churn", "Heart", "mammographic_masses", "wine"],
    "grupo-6": ["Credit default", "Hill", "Mobile Price Classification", "Monk_1"],
    "grupo-7": ["EEg", "German", "Monk_2", "Heart_2"],
    "grupo-8": ["HELOC", "Mushrooms ", "Biodeg", "Sonar"],
    "grupo-9": ["Monk_3", "Musk", "Spambase", "Student"],
    "grupo-10": ["OnlineNewsPopularity", "Tokyo", "twonorm", "Votes_Congressional"]
}

In [4]:
df_map_inference_datasets = pd.read_parquet(f"s3://omar-testes-gerais/artigos/artifacts/df_map_inference_datasets.parquet")
df_map_inference_datasets

,name,path,classe
0,Adult,adult/adult_processada.csv,Above/Below 50K
1,Australian,Australian/Credit_Card_Applications.csv,Class
2,Banknote,Banknote/BankNote_Authentication.csv,class
3,Biodeg,Biodeg/qsar-biodeg.csv,Class
4,Breast Cancer Coimbra,Breast Cancer Coimbra/breast_coimbra.csv,Classification
5,Breast Cancer Wisconsin,Breast Cancer Wisconsin/breast-cancer.csv,diagnosis
6,Churn,Churn/WA_Fn-UseC_-Telco-Customer-Churn_process...,Churn
7,Compas,Compas/compas-scores-two-years.csv,two_year_recid
8,Credit default,Credit default/UCI_Credit_Card.csv,default.payment.next.month
9,Diabetes,Diabetes/diabetes.csv,Outcome
10,Driving Behavior,"['Driving Behavior/train_motion_data.csv', 'Dr...",Class
11,EEg,EEg/EEG Eye State.csv,Column15
12,German,German/german_credit.csv,default
13,GiveMeSomeCredit,GiveMeSomeCredit/GiveMeSomeCredit_processada.csv,SeriousDlqin2yrs
14,Heart,Heart/heart.csv,output
15,Heart_2,Heart/heart2.csv,num
16,Heart Failure Prediction,Heart Failure Prediction/heart_failure_clinica...,DEATH_EVENT
17,HELOC,HELOC/heloc_dataset_v1.csv,RiskPerformance
18,Hill,"['Hill/Hill_Valley_with_noise_Training.csv', '...",class
19,Horse colic,Horse colic/horseV2_processada.csv,surgery
20,Indian Liver Patient Dataset,Indian Liver Patient Dataset/Indian Liver Pati...,class
21,Ionosfera,Ionosfera/ionosphere.csv,target
22,IRIS,IRIS/Iris.csv,Species
23,KC2,KC2/KC2.csv,defects
24,liver disorders_bupa,liver disorders_bupa/bupa.csv,selector
25,Magic,Magic/telescope_data.csv,class
26,mammographic_masses,mammographic_masses/mammographic_masses_cleane...,Severity
27,Mobile Price Classification,Mobile Price Classification/train_mobile_proce...,range
28,Monk_1,"['Monk/monks-1_train.csv', 'Monk/monks-1_test....",Class
29,Monk_2,"['Monk/monks-2_train.csv', 'Monk/monks-2_test....",Class
30,Monk_3,"['Monk/monks-3_train.csv', 'Monk/monks-3_test....",Class
31,Mushrooms,Mushrooms/mushrooms_processada.csv,class
32,Musk,Musk/clean1.csv,Column169
33,News popularity,News popularity/OnlineNewsPopularity.csv,shares
34,no2,no2/no2.csv,Column1
35,OnlineNewsPopularity,OnlineNewsPopularity/OnlineNewsPopularity_proc...,class
36,optdigits_csv,optdigits_csv/optdigits_csv.csv,class
37,pc1,pc1/pc1.csv,defects
38,Phishing,Phishing/Phishing.csv,Class
39,Phoneme,Phoneme/phoneme.csv,class
40,Plasma,Plasma/plasma.csv,Column14
41,post-operative,post-operative/post-operative-data.csv,decision ADM-DECS
42,price,"['price/train.csv', 'price/test.csv']",price_range
43,Room Occupancy,Room Occupancy/Room Occupancy.csv,Occupancy
44,seismic,seismic/seismic_processada.csv,class
45,Shopping,Shopping/e-shop clothing 2008.csv,page
46,Sky Survey,Sky Survey/Skyserver_SQL2_27_2018 6_51_39 PM.csv,class
47,Sonar,Sonar/sonar.all-data.csv,class
48,Spambase,Spambase/Spambase.csv,Class
49,Student,Student/Students-Performance-MAT_processada.csv,Class
50,Tic-Tac-Toe,Tic-Tac-Toe/tic-tac-toe-endgame.csv,V10
51,titanic,titanic/titanic_processada.csv,Survived
52,Tokyo,Tokyo/Tokyo.csv,class
53,twonorm,twonorm/twonorm.csv,class
54,Vertebral_2C,Vertebral/column_2C.csv,class
55,Vertebral_3C,Vertebral/column_3C.csv,class
56,Votes_Congressional,Votes_Congressional/house-votes-84_processada.csv,Class Name
57,wine,wine/WineQT.csv,quality
58,xd6,xd6/xd6_dataset_csv.csv,class

In [129]:
df_map_inference_datasets.loc[32, 'classe'] = 'Column167'
df_map_inference_datasets
df_map_inference_datasets.to_parquet(f"s3://omar-testes-gerais/artigos/artifacts/df_map_inference_datasets.parquet", engine = 'pyarrow')

In [17]:
valores_para_filtrar = [valor for sublista in groups.values() for valor in sublista]
dfm_use = df_map_inference_datasets[df_map_inference_datasets['name'].isin(valores_para_filtrar)]
dfm_use.reset_index(drop = True, inplace = True)
dfm_use

,name,path,classe
0,Adult,adult/adult_processada.csv,Above/Below 50K
1,Australian,Australian/Credit_Card_Applications.csv,Class
2,Banknote,Banknote/BankNote_Authentication.csv,class
3,Biodeg,Biodeg/qsar-biodeg.csv,Class
4,Breast Cancer Coimbra,Breast Cancer Coimbra/breast_coimbra.csv,Classification
5,Breast Cancer Wisconsin,Breast Cancer Wisconsin/breast-cancer.csv,diagnosis
6,Churn,Churn/WA_Fn-UseC_-Telco-Customer-Churn_process...,Churn
7,Compas,Compas/compas-scores-two-years.csv,two_year_recid
8,Credit default,Credit default/UCI_Credit_Card.csv,default.payment.next.month
9,Diabetes,Diabetes/diabetes.csv,Outcome
10,EEg,EEg/EEG Eye State.csv,Column15
11,German,German/german_credit.csv,default
12,GiveMeSomeCredit,GiveMeSomeCredit/GiveMeSomeCredit_processada.csv,SeriousDlqin2yrs
13,Heart,Heart/heart.csv,output
14,Heart_2,Heart/heart2.csv,num
15,HELOC,HELOC/heloc_dataset_v1.csv,RiskPerformance
16,Horse colic,Horse colic/horseV2_processada.csv,surgery
17,Ionosfera,Ionosfera/ionosphere.csv,target
18,KC2,KC2/KC2.csv,defects
19,liver disorders_bupa,liver disorders_bupa/bupa.csv,selector
20,mammographic_masses,mammographic_masses/mammographic_masses_cleane...,Severity
21,Mobile Price Classification,Mobile Price Classification/train_mobile_proce...,range
22,Monk_1,"['Monk/monks-1_train.csv', 'Monk/monks-1_test....",Class
23,Monk_2,"['Monk/monks-2_train.csv', 'Monk/monks-2_test....",Class
24,Monk_3,"['Monk/monks-3_train.csv', 'Monk/monks-3_test....",Class
25,Musk,Musk/clean1.csv,Column169
26,OnlineNewsPopularity,OnlineNewsPopularity/OnlineNewsPopularity_proc...,class
27,Phishing,Phishing/Phishing.csv,Class
28,Room Occupancy,Room Occupancy/Room Occupancy.csv,Occupancy
29,Sonar,Sonar/sonar.all-data.csv,class
30,Spambase,Spambase/Spambase.csv,Class
31,Student,Student/Students-Performance-MAT_processada.csv,Class
32,titanic,titanic/titanic_processada.csv,Survived
33,Tokyo,Tokyo/Tokyo.csv,class
34,twonorm,twonorm/twonorm.csv,class
35,Vertebral_2C,Vertebral/column_2C.csv,class
36,Vertebral_3C,Vertebral/column_3C.csv,class
37,Votes_Congressional,Votes_Congressional/house-votes-84_processada.csv,Class Name
38,wine,wine/WineQT.csv,quality

In [23]:
import boto3
import pandas as pd
import json

# Configurações do S3
s3_client = boto3.client('s3')
bucket_name = 'omar-testes-gerais'
pasta_s3 = 'artigos/causal_csse/bateria_metricas/outputs/metricas_1/rf/'

# Função para ler um JSON do S3 e convertê-lo em um dicionário
def ler_json_do_s3(bucket, caminho):
    response = s3_client.get_object(Bucket=bucket, Key=caminho)
    conteudo = response['Body'].read().decode('utf-8')
    return json.loads(conteudo)

# Lista os objetos na pasta S3
objetos = s3_client.list_objects_v2(Bucket=bucket_name, Prefix=pasta_s3)

# Itera sobre os arquivos na pasta S3
for objeto in objetos.get('Contents', []):
    caminho_arquivo = objeto['Key']
    nome_arquivo = caminho_arquivo.split('/')[-1].replace('.json', '')  # Extrai o nome do arquivo sem a extensão

    # Verifica se o nome do arquivo está no DataFrame
    if nome_arquivo in dfm_use['name'].values:
        # Lê o JSON e adiciona o conteúdo como uma nova coluna no DataFrame
        conteudo_json = ler_json_do_s3(bucket_name, caminho_arquivo)
        dfm_use.loc[dfm_use['name'] == nome_arquivo, 'metrica'] = [conteudo_json]

dfm_use

,name,path,classe,metrica
0,Adult,adult/adult_processada.csv,Above/Below 50K,NaN
1,Australian,Australian/Credit_Card_Applications.csv,Class,{'Quantidade de instâncias contrafactuais': 11...
2,Banknote,Banknote/BankNote_Authentication.csv,class,{'Quantidade de instâncias contrafactuais': 11...
3,Biodeg,Biodeg/qsar-biodeg.csv,Class,NaN
4,Breast Cancer Coimbra,Breast Cancer Coimbra/breast_coimbra.csv,Classification,{'Quantidade de instâncias contrafactuais': 11...
5,Breast Cancer Wisconsin,Breast Cancer Wisconsin/breast-cancer.csv,diagnosis,{'Quantidade de instâncias contrafactuais': 11...
6,Churn,Churn/WA_Fn-UseC_-Telco-Customer-Churn_process...,Churn,NaN
7,Compas,Compas/compas-scores-two-years.csv,two_year_recid,NaN
8,Credit default,Credit default/UCI_Credit_Card.csv,default.payment.next.month,NaN
9,Diabetes,Diabetes/diabetes.csv,Outcome,{'Quantidade de instâncias contrafactuais': 11...
10,EEg,EEg/EEG Eye State.csv,Column15,NaN
11,German,German/german_credit.csv,default,{'Quantidade de instâncias contrafactuais': 11...
12,GiveMeSomeCredit,GiveMeSomeCredit/GiveMeSomeCredit_processada.csv,SeriousDlqin2yrs,NaN
13,Heart,Heart/heart.csv,output,{'Quantidade de instâncias contrafactuais': 11...
14,Heart_2,Heart/heart2.csv,num,{'Quantidade de instâncias contrafactuais': 11...
15,HELOC,HELOC/heloc_dataset_v1.csv,RiskPerformance,{'Quantidade de instâncias contrafactuais': 11...
16,Horse colic,Horse colic/horseV2_processada.csv,surgery,NaN
17,Ionosfera,Ionosfera/ionosphere.csv,target,NaN
18,KC2,KC2/KC2.csv,defects,{'Quantidade de instâncias contrafactuais': 11...
19,liver disorders_bupa,liver disorders_bupa/bupa.csv,selector,{'Quantidade de instâncias contrafactuais': 11...
20,mammographic_masses,mammographic_masses/mammographic_masses_cleane...,Severity,{'Quantidade de instâncias contrafactuais': 11...
21,Mobile Price Classification,Mobile Price Classification/train_mobile_proce...,range,NaN
22,Monk_1,"['Monk/monks-1_train.csv', 'Monk/monks-1_test....",Class,NaN
23,Monk_2,"['Monk/monks-2_train.csv', 'Monk/monks-2_test....",Class,NaN
24,Monk_3,"['Monk/monks-3_train.csv', 'Monk/monks-3_test....",Class,NaN
25,Musk,Musk/clean1.csv,Column169,NaN
26,OnlineNewsPopularity,OnlineNewsPopularity/OnlineNewsPopularity_proc...,class,NaN
27,Phishing,Phishing/Phishing.csv,Class,{'Quantidade de instâncias contrafactuais': 11...
28,Room Occupancy,Room Occupancy/Room Occupancy.csv,Occupancy,{'Quantidade de instâncias contrafactuais': 11...
29,Sonar,Sonar/sonar.all-data.csv,class,{'Quantidade de instâncias contrafactuais': 11...
30,Spambase,Spambase/Spambase.csv,Class,{'Quantidade de instâncias contrafactuais': 11...
31,Student,Student/Students-Performance-MAT_processada.csv,Class,NaN
32,titanic,titanic/titanic_processada.csv,Survived,NaN
33,Tokyo,Tokyo/Tokyo.csv,class,{'Quantidade de instâncias contrafactuais': 11...
34,twonorm,twonorm/twonorm.csv,class,{'Quantidade de instâncias contrafactuais': 11...
35,Vertebral_2C,Vertebral/column_2C.csv,class,{'Quantidade de instâncias contrafactuais': 11...
36,Vertebral_3C,Vertebral/column_3C.csv,class,NaN
37,Votes_Congressional,Votes_Congressional/house-votes-84_processada.csv,Class Name,{'Quantidade de instâncias contrafactuais': 11...
38,wine,wine/WineQT.csv,quality,NaN

In [66]:
dfm_use.iloc[3]['path']

'Biodeg/qsar-biodeg.csv'

In [59]:
df = pd.read_csv(f"s3://omar-testes-gerais/artigos/artifacts/datasets/Monk/monks-1_test.csv")
df

     Class  a1  a2  a3  a4  a5  a6        Id
0        1   1   1   1   1   1   1    data_1
1        1   1   1   1   1   1   2    data_2
2        1   1   1   1   1   2   1    data_3
3        1   1   1   1   1   2   2    data_4
4        1   1   1   1   1   3   1    data_5
..     ...  ..  ..  ..  ..  ..  ..       ...
427      1   3   3   2   3   2   2  data_428
428      1   3   3   2   3   3   1  data_429
429      1   3   3   2   3   3   2  data_430
430      1   3   3   2   3   4   1  data_431
431      1   3   3   2   3   4   2  data_432

[432 rows x 8 columns]

In [67]:
dfm_use

,name,path,classe,metrica
0,Adult,adult/adult_processada.csv,Above/Below 50K,memoria 18gb
1,Australian,Australian/Credit_Card_Applications.csv,Class,{'Quantidade de instâncias contrafactuais': 11...
2,Banknote,Banknote/BankNote_Authentication.csv,class,{'Quantidade de instâncias contrafactuais': 11...
3,Biodeg,Biodeg/qsar-biodeg.csv,Class,valor da coluna
4,Breast Cancer Coimbra,Breast Cancer Coimbra/breast_coimbra.csv,Classification,{'Quantidade de instâncias contrafactuais': 11...
5,Breast Cancer Wisconsin,Breast Cancer Wisconsin/breast-cancer.csv,diagnosis,{'Quantidade de instâncias contrafactuais': 11...
6,Churn,Churn/WA_Fn-UseC_-Telco-Customer-Churn_process...,Churn,NaN
7,Compas,Compas/compas-scores-two-years.csv,two_year_recid,NaN
8,Credit default,Credit default/UCI_Credit_Card.csv,default.payment.next.month,memoria
9,Diabetes,Diabetes/diabetes.csv,Outcome,{'Quantidade de instâncias contrafactuais': 11...
10,EEg,EEg/EEG Eye State.csv,Column15,list.remove(x): x not in list
11,German,German/german_credit.csv,default,{'Quantidade de instâncias contrafactuais': 11...
12,GiveMeSomeCredit,GiveMeSomeCredit/GiveMeSomeCredit_processada.csv,SeriousDlqin2yrs,NaN
13,Heart,Heart/heart.csv,output,{'Quantidade de instâncias contrafactuais': 11...
14,Heart_2,Heart/heart2.csv,num,{'Quantidade de instâncias contrafactuais': 11...
15,HELOC,HELOC/heloc_dataset_v1.csv,RiskPerformance,{'Quantidade de instâncias contrafactuais': 11...
16,Horse colic,Horse colic/horseV2_processada.csv,surgery,could not convert string to float: '3.816.861....
17,Ionosfera,Ionosfera/ionosphere.csv,target,valor da coluna
18,KC2,KC2/KC2.csv,defects,{'Quantidade de instâncias contrafactuais': 11...
19,liver disorders_bupa,liver disorders_bupa/bupa.csv,selector,{'Quantidade de instâncias contrafactuais': 11...
20,mammographic_masses,mammographic_masses/mammographic_masses_cleane...,Severity,{'Quantidade de instâncias contrafactuais': 11...
21,Mobile Price Classification,Mobile Price Classification/train_mobile_proce...,range,[{'Quantidade de instâncias contrafactuais': 1...
22,Monk_1,"['Monk/monks-1_train.csv', 'Monk/monks-1_test....",Class,NaN
23,Monk_2,"['Monk/monks-2_train.csv', 'Monk/monks-2_test....",Class,class name
24,Monk_3,"['Monk/monks-3_train.csv', 'Monk/monks-3_test....",Class,class name
25,Musk,Musk/clean1.csv,Column169,NaN
26,OnlineNewsPopularity,OnlineNewsPopularity/OnlineNewsPopularity_proc...,class,could not convert string to float: '457.260.92...
27,Phishing,Phishing/Phishing.csv,Class,{'Quantidade de instâncias contrafactuais': 11...
28,Room Occupancy,Room Occupancy/Room Occupancy.csv,Occupancy,{'Quantidade de instâncias contrafactuais': 11...
29,Sonar,Sonar/sonar.all-data.csv,class,{'Quantidade de instâncias contrafactuais': 11...
30,Spambase,Spambase/Spambase.csv,Class,{'Quantidade de instâncias contrafactuais': 11...
31,Student,Student/Students-Performance-MAT_processada.csv,Class,"Input contains NaN, infinity or a value too la..."
32,titanic,titanic/titanic_processada.csv,Survived,NaN
33,Tokyo,Tokyo/Tokyo.csv,class,{'Quantidade de instâncias contrafactuais': 11...
34,twonorm,twonorm/twonorm.csv,class,{'Quantidade de instâncias contrafactuais': 11...
35,Vertebral_2C,Vertebral/column_2C.csv,class,{'Quantidade de instâncias contrafactuais': 11...
36,Vertebral_3C,Vertebral/column_3C.csv,class,NaN
37,Votes_Congressional,Votes_Congressional/house-votes-84_processada.csv,Class Name,{'Quantidade de instâncias contrafactuais': 11...
38,wine,wine/WineQT.csv,quality,NaN
39,Hill,"['Hill/Hill_Valley_with_noise_Training.csv', '...",class,NaN

In [73]:
dfm_use.iloc[6]['path']

'Churn/WA_Fn-UseC_-Telco-Customer-Churn_processada.csv'

In [76]:
df = pd.read_csv(f"s3://omar-testes-gerais/artigos/artifacts/datasets/Ionosfera/ionosphere.csv")
df

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A26,A27,A28,A29,A30,A31,A32,A33,A34,target
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,1,0,0.83508,0.08298,0.73739,-0.14706,0.84349,-0.05567,0.90441,-0.04622,...,-0.04202,0.83479,0.00123,1.00000,0.12815,0.86660,-0.10714,0.90546,-0.04307,g
347,1,0,0.95113,0.00419,0.95183,-0.02723,0.93438,-0.01920,0.94590,0.01606,...,0.01361,0.93522,0.04925,0.93159,0.08168,0.94066,-0.00035,0.91483,0.04712,g
348,1,0,0.94701,-0.00034,0.93207,-0.03227,0.95177,-0.03431,0.95584,0.02446,...,0.03193,0.92489,0.02542,0.92120,0.02242,0.92459,0.00442,0.92697,-0.00577,g
349,1,0,0.90608,-0.01657,0.98122,-0.01989,0.95691,-0.03646,0.85746,0.00110,...,-0.02099,0.89147,-0.07760,0.82983,-0.17238,0.96022,-0.03757,0.87403,-0.16243,g
350,1,0,0.84710,0.13533,0.73638,-0.06151,0.87873,0.08260,0.88928,-0.09139,...,-0.15114,0.81147,-0.04822,0.78207,-0.00703,0.75747,-0.06678,0.85764,-0.06151,g

In [70]:
import pandas as pd
import numpy as np

# Suponha que df seja o seu DataFrame
# Verificar se há valores NaN
has_nans = df.isna().any().any()

# Verificar se há valores infinitos (positivos ou negativos)
has_infs = np.isinf(df).any().any()

# Exibir os resultados
if has_nans:
    print("O DataFrame contém valores NaN.")
else:
    print("O DataFrame não contém valores NaN.")

if has_infs:
    print("O DataFrame contém valores infinitos (inf).")
else:
    print("O DataFrame não contém valores infinitos (inf).")

O DataFrame não contém valores NaN.
O DataFrame não contém valores infinitos (inf).

# -------------------------------------------------------------------------------------------

In [ ]:
groups = {
    "grupo-1": ["Adult", "Banknote", "KC2", "titanic"],
    "grupo-2": ["Australian", "Breast Cancer Coimbra", "liver disorders_bupa", "Room Occupancy"],
    "grupo-3": ["Compas", "Ionosfera", "Vertebral_2C", "Vertebral_3C", "GiveMeSomeCredit"],
    "grupo-4": ["Breast Cancer Wisconsin", "Diabetes", "Phishing", "Horse colic"],
    "grupo-5": ["Churn", "Heart", "mammographic_masses", "wine"],
    "grupo-6": ["Credit default", "Hill ", "Mobile Price Classification", "Monk_1"],
    "grupo-7": ["EEg", "German", "Monk_2", "Heart_2"],
    "grupo-8": ["HELOC", "Mushrooms ", "Biodeg", "Sonar"],
    "grupo-9": ["Monk_3", "Musk", "Spambase", "Student"],
    "grupo-10": ["OnlineNewsPopularity", "Tokyo", "twonorm", "Votes_Congressional"]
}

groups = {
    "grupo-memoria": ["Adult", "Credit default", ],
    "grupo-nulo": ['Biodeg'],
    "memoria": ['wine', 'Vertebral_3C',],
    'falta': ['EEg', "Hill", "Mobile Price Classification"]
}

In [77]:
dfm_use

,name,path,classe,metrica
0,Adult,adult/adult_processada.csv,Above/Below 50K,memoria 18gb
1,Australian,Australian/Credit_Card_Applications.csv,Class,{'Quantidade de instâncias contrafactuais': 11...
2,Banknote,Banknote/BankNote_Authentication.csv,class,{'Quantidade de instâncias contrafactuais': 11...
3,Biodeg,Biodeg/qsar-biodeg.csv,Class,valor da coluna
4,Breast Cancer Coimbra,Breast Cancer Coimbra/breast_coimbra.csv,Classification,{'Quantidade de instâncias contrafactuais': 11...
5,Breast Cancer Wisconsin,Breast Cancer Wisconsin/breast-cancer.csv,diagnosis,{'Quantidade de instâncias contrafactuais': 11...
6,Churn,Churn/WA_Fn-UseC_-Telco-Customer-Churn_process...,Churn,NaN
7,Compas,Compas/compas-scores-two-years.csv,two_year_recid,NaN
8,Credit default,Credit default/UCI_Credit_Card.csv,default.payment.next.month,memoria
9,Diabetes,Diabetes/diabetes.csv,Outcome,{'Quantidade de instâncias contrafactuais': 11...
10,EEg,EEg/EEG Eye State.csv,Column15,list.remove(x): x not in list
11,German,German/german_credit.csv,default,{'Quantidade de instâncias contrafactuais': 11...
12,GiveMeSomeCredit,GiveMeSomeCredit/GiveMeSomeCredit_processada.csv,SeriousDlqin2yrs,NaN
13,Heart,Heart/heart.csv,output,{'Quantidade de instâncias contrafactuais': 11...
14,Heart_2,Heart/heart2.csv,num,{'Quantidade de instâncias contrafactuais': 11...
15,HELOC,HELOC/heloc_dataset_v1.csv,RiskPerformance,{'Quantidade de instâncias contrafactuais': 11...
16,Horse colic,Horse colic/horseV2_processada.csv,surgery,could not convert string to float: '3.816.861....
17,Ionosfera,Ionosfera/ionosphere.csv,target,valor da coluna
18,KC2,KC2/KC2.csv,defects,{'Quantidade de instâncias contrafactuais': 11...
19,liver disorders_bupa,liver disorders_bupa/bupa.csv,selector,{'Quantidade de instâncias contrafactuais': 11...
20,mammographic_masses,mammographic_masses/mammographic_masses_cleane...,Severity,{'Quantidade de instâncias contrafactuais': 11...
21,Mobile Price Classification,Mobile Price Classification/train_mobile_proce...,range,[{'Quantidade de instâncias contrafactuais': 1...
22,Monk_1,"['Monk/monks-1_train.csv', 'Monk/monks-1_test....",Class,NaN
23,Monk_2,"['Monk/monks-2_train.csv', 'Monk/monks-2_test....",Class,class name
24,Monk_3,"['Monk/monks-3_train.csv', 'Monk/monks-3_test....",Class,class name
25,Musk,Musk/clean1.csv,Column169,NaN
26,OnlineNewsPopularity,OnlineNewsPopularity/OnlineNewsPopularity_proc...,class,could not convert string to float: '457.260.92...
27,Phishing,Phishing/Phishing.csv,Class,{'Quantidade de instâncias contrafactuais': 11...
28,Room Occupancy,Room Occupancy/Room Occupancy.csv,Occupancy,{'Quantidade de instâncias contrafactuais': 11...
29,Sonar,Sonar/sonar.all-data.csv,class,{'Quantidade de instâncias contrafactuais': 11...
30,Spambase,Spambase/Spambase.csv,Class,{'Quantidade de instâncias contrafactuais': 11...
31,Student,Student/Students-Performance-MAT_processada.csv,Class,"Input contains NaN, infinity or a value too la..."
32,titanic,titanic/titanic_processada.csv,Survived,NaN
33,Tokyo,Tokyo/Tokyo.csv,class,{'Quantidade de instâncias contrafactuais': 11...
34,twonorm,twonorm/twonorm.csv,class,{'Quantidade de instâncias contrafactuais': 11...
35,Vertebral_2C,Vertebral/column_2C.csv,class,{'Quantidade de instâncias contrafactuais': 11...
36,Vertebral_3C,Vertebral/column_3C.csv,class,NaN
37,Votes_Congressional,Votes_Congressional/house-votes-84_processada.csv,Class Name,{'Quantidade de instâncias contrafactuais': 11...
38,wine,wine/WineQT.csv,quality,NaN
39,Hill,"['Hill/Hill_Valley_with_noise_Training.csv', '...",class,NaN

In [117]:
dfm_use.loc[21, 'metrica'] = [{
  "Quantidade de instâncias contrafactuais": 110,
  "Quantidade de relações causais na base de dados": 4,
  "Quantidade de atributos modificados": 62,
  "Quantidade de instâncias contrafactuais causais": 31,
  "Quantidade de relações causais analisadas": 6,
  "Quantidade de relações causais satisfeitas": 6,
  "Quantidade de instâncias contrafactuais com um único atributo modificado": 26,
  "Tempo de execução": 105.8550853729248
}
]
dfm_use

,name,path,classe,metrica
0,Adult,adult/adult_processada.csv,Above/Below 50K,memoria 18gb
1,Australian,Australian/Credit_Card_Applications.csv,Class,{'Quantidade de instâncias contrafactuais': 11...
2,Banknote,Banknote/BankNote_Authentication.csv,class,{'Quantidade de instâncias contrafactuais': 11...
3,Biodeg,Biodeg/qsar-biodeg.csv,Class,valor da coluna
4,Breast Cancer Coimbra,Breast Cancer Coimbra/breast_coimbra.csv,Classification,{'Quantidade de instâncias contrafactuais': 11...
5,Breast Cancer Wisconsin,Breast Cancer Wisconsin/breast-cancer.csv,diagnosis,{'Quantidade de instâncias contrafactuais': 11...
6,Churn,Churn/WA_Fn-UseC_-Telco-Customer-Churn_process...,Churn,could not convert string to float: '22.833.004...
7,Compas,Compas/compas-scores-two-years.csv,two_year_recid,could not convert string to float: 'walter mei...
8,Credit default,Credit default/UCI_Credit_Card.csv,default.payment.next.month,memoria
9,Diabetes,Diabetes/diabetes.csv,Outcome,{'Quantidade de instâncias contrafactuais': 11...
10,EEg,EEg/EEG Eye State.csv,Column15,list.remove(x): x not in list
11,German,German/german_credit.csv,default,{'Quantidade de instâncias contrafactuais': 11...
12,GiveMeSomeCredit,GiveMeSomeCredit/GiveMeSomeCredit_processada.csv,SeriousDlqin2yrs,could not convert string to float: '6.670.221....
13,Heart,Heart/heart.csv,output,{'Quantidade de instâncias contrafactuais': 11...
14,Heart_2,Heart/heart2.csv,num,{'Quantidade de instâncias contrafactuais': 11...
15,HELOC,HELOC/heloc_dataset_v1.csv,RiskPerformance,{'Quantidade de instâncias contrafactuais': 11...
16,Horse colic,Horse colic/horseV2_processada.csv,surgery,could not convert string to float: '3.816.861....
17,Ionosfera,Ionosfera/ionosphere.csv,target,"Input contains NaN, infinity or a value too la..."
18,KC2,KC2/KC2.csv,defects,{'Quantidade de instâncias contrafactuais': 11...
19,liver disorders_bupa,liver disorders_bupa/bupa.csv,selector,{'Quantidade de instâncias contrafactuais': 11...
20,mammographic_masses,mammographic_masses/mammographic_masses_cleane...,Severity,{'Quantidade de instâncias contrafactuais': 11...
21,Mobile Price Classification,Mobile Price Classification/train_mobile_proce...,range,[{'Quantidade de instâncias contrafactuais': 1...
22,Monk_1,"['Monk/monks-1_train.csv', 'Monk/monks-1_test....",Class,[{'Quantidade de instâncias contrafactuais': 1...
23,Monk_2,"['Monk/monks-2_train.csv', 'Monk/monks-2_test....",Class,[{'Quantidade de instâncias contrafactuais': 1...
24,Monk_3,"['Monk/monks-3_train.csv', 'Monk/monks-3_test....",Class,[{'Quantidade de instâncias contrafactuais': 1...
25,Musk,Musk/clean1.csv,Column169,list.remove(x): x not in list
26,OnlineNewsPopularity,OnlineNewsPopularity/OnlineNewsPopularity_proc...,class,could not convert string to float: '457.260.92...
27,Phishing,Phishing/Phishing.csv,Class,{'Quantidade de instâncias contrafactuais': 11...
28,Room Occupancy,Room Occupancy/Room Occupancy.csv,Occupancy,{'Quantidade de instâncias contrafactuais': 11...
29,Sonar,Sonar/sonar.all-data.csv,class,{'Quantidade de instâncias contrafactuais': 11...
30,Spambase,Spambase/Spambase.csv,Class,{'Quantidade de instâncias contrafactuais': 11...
31,Student,Student/Students-Performance-MAT_processada.csv,Class,"Input contains NaN, infinity or a value too la..."
32,titanic,titanic/titanic_processada.csv,Survived,"Input contains NaN, infinity or a value too la..."
33,Tokyo,Tokyo/Tokyo.csv,class,{'Quantidade de instâncias contrafactuais': 11...
34,twonorm,twonorm/twonorm.csv,class,{'Quantidade de instâncias contrafactuais': 11...
35,Vertebral_2C,Vertebral/column_2C.csv,class,{'Quantidade de instâncias contrafactuais': 11...
36,Vertebral_3C,Vertebral/column_3C.csv,class,NaN
37,Votes_Congressional,Votes_Congressional/house-votes-84_processada.csv,Class Name,{'Quantidade de instâncias contrafactuais': 11...
38,wine,wine/WineQT.csv,quality,demorou demais
39,Hill,"['Hill/Hill_Valley_with_noise_Training.csv', '...",class,NaN

In [115]:
dfm_use

,name,path,classe,metrica
0,Adult,adult/adult_processada.csv,Above/Below 50K,memoria 18gb
1,Australian,Australian/Credit_Card_Applications.csv,Class,{'Quantidade de instâncias contrafactuais': 11...
2,Banknote,Banknote/BankNote_Authentication.csv,class,{'Quantidade de instâncias contrafactuais': 11...
3,Biodeg,Biodeg/qsar-biodeg.csv,Class,valor da coluna
4,Breast Cancer Coimbra,Breast Cancer Coimbra/breast_coimbra.csv,Classification,{'Quantidade de instâncias contrafactuais': 11...
5,Breast Cancer Wisconsin,Breast Cancer Wisconsin/breast-cancer.csv,diagnosis,{'Quantidade de instâncias contrafactuais': 11...
6,Churn,Churn/WA_Fn-UseC_-Telco-Customer-Churn_process...,Churn,could not convert string to float: '22.833.004...
7,Compas,Compas/compas-scores-two-years.csv,two_year_recid,could not convert string to float: 'walter mei...
8,Credit default,Credit default/UCI_Credit_Card.csv,default.payment.next.month,memoria
9,Diabetes,Diabetes/diabetes.csv,Outcome,{'Quantidade de instâncias contrafactuais': 11...
10,EEg,EEg/EEG Eye State.csv,Column15,list.remove(x): x not in list
11,German,German/german_credit.csv,default,{'Quantidade de instâncias contrafactuais': 11...
12,GiveMeSomeCredit,GiveMeSomeCredit/GiveMeSomeCredit_processada.csv,SeriousDlqin2yrs,could not convert string to float: '6.670.221....
13,Heart,Heart/heart.csv,output,{'Quantidade de instâncias contrafactuais': 11...
14,Heart_2,Heart/heart2.csv,num,{'Quantidade de instâncias contrafactuais': 11...
15,HELOC,HELOC/heloc_dataset_v1.csv,RiskPerformance,{'Quantidade de instâncias contrafactuais': 11...
16,Horse colic,Horse colic/horseV2_processada.csv,surgery,could not convert string to float: '3.816.861....
17,Ionosfera,Ionosfera/ionosphere.csv,target,"Input contains NaN, infinity or a value too la..."
18,KC2,KC2/KC2.csv,defects,{'Quantidade de instâncias contrafactuais': 11...
19,liver disorders_bupa,liver disorders_bupa/bupa.csv,selector,{'Quantidade de instâncias contrafactuais': 11...
20,mammographic_masses,mammographic_masses/mammographic_masses_cleane...,Severity,{'Quantidade de instâncias contrafactuais': 11...
21,Mobile Price Classification,Mobile Price Classification/train_mobile_proce...,range,[{'Quantidade de instâncias contrafactuais': 1...
22,Monk_1,"['Monk/monks-1_train.csv', 'Monk/monks-1_test....",Class,[{'Quantidade de instâncias contrafactuais': 1...
23,Monk_2,"['Monk/monks-2_train.csv', 'Monk/monks-2_test....",Class,[{'Quantidade de instâncias contrafactuais': 1...
24,Monk_3,"['Monk/monks-3_train.csv', 'Monk/monks-3_test....",Class,[{'Quantidade de instâncias contrafactuais': 1...
25,Musk,Musk/clean1.csv,Column169,list.remove(x): x not in list
26,OnlineNewsPopularity,OnlineNewsPopularity/OnlineNewsPopularity_proc...,class,could not convert string to float: '457.260.92...
27,Phishing,Phishing/Phishing.csv,Class,{'Quantidade de instâncias contrafactuais': 11...
28,Room Occupancy,Room Occupancy/Room Occupancy.csv,Occupancy,{'Quantidade de instâncias contrafactuais': 11...
29,Sonar,Sonar/sonar.all-data.csv,class,{'Quantidade de instâncias contrafactuais': 11...
30,Spambase,Spambase/Spambase.csv,Class,{'Quantidade de instâncias contrafactuais': 11...
31,Student,Student/Students-Performance-MAT_processada.csv,Class,"Input contains NaN, infinity or a value too la..."
32,titanic,titanic/titanic_processada.csv,Survived,"Input contains NaN, infinity or a value too la..."
33,Tokyo,Tokyo/Tokyo.csv,class,{'Quantidade de instâncias contrafactuais': 11...
34,twonorm,twonorm/twonorm.csv,class,{'Quantidade de instâncias contrafactuais': 11...
35,Vertebral_2C,Vertebral/column_2C.csv,class,{'Quantidade de instâncias contrafactuais': 11...
36,Vertebral_3C,Vertebral/column_3C.csv,class,NaN
37,Votes_Congressional,Votes_Congressional/house-votes-84_processada.csv,Class Name,{'Quantidade de instâncias contrafactuais': 11...
38,wine,wine/WineQT.csv,quality,NaN
39,Hill,"['Hill/Hill_Valley_with_noise_Training.csv', '...",class,NaN

In [126]:
dfm_use.loc[25, 'classe'] = "Column167"
dfm_use

,name,path,classe,metrica
0,Adult,adult/adult_processada.csv,Above/Below 50K,memoria 18gb
1,Australian,Australian/Credit_Card_Applications.csv,Class,{'Quantidade de instâncias contrafactuais': 11...
2,Banknote,Banknote/BankNote_Authentication.csv,class,{'Quantidade de instâncias contrafactuais': 11...
3,Biodeg,Biodeg/qsar-biodeg.csv,Class,valor da coluna
4,Breast Cancer Coimbra,Breast Cancer Coimbra/breast_coimbra.csv,Classification,{'Quantidade de instâncias contrafactuais': 11...
5,Breast Cancer Wisconsin,Breast Cancer Wisconsin/breast-cancer.csv,diagnosis,{'Quantidade de instâncias contrafactuais': 11...
6,Churn,Churn/WA_Fn-UseC_-Telco-Customer-Churn_process...,Churn,could not convert string to float: '22.833.004...
7,Compas,Compas/compas-scores-two-years.csv,two_year_recid,could not convert string to float: 'walter mei...
8,Credit default,Credit default/UCI_Credit_Card.csv,default.payment.next.month,memoria
9,Diabetes,Diabetes/diabetes.csv,Outcome,{'Quantidade de instâncias contrafactuais': 11...
10,EEg,EEg/EEG Eye State.csv,Column15,list.remove(x): x not in list
11,German,German/german_credit.csv,default,{'Quantidade de instâncias contrafactuais': 11...
12,GiveMeSomeCredit,GiveMeSomeCredit/GiveMeSomeCredit_processada.csv,SeriousDlqin2yrs,could not convert string to float: '6.670.221....
13,Heart,Heart/heart.csv,output,{'Quantidade de instâncias contrafactuais': 11...
14,Heart_2,Heart/heart2.csv,num,{'Quantidade de instâncias contrafactuais': 11...
15,HELOC,HELOC/heloc_dataset_v1.csv,RiskPerformance,{'Quantidade de instâncias contrafactuais': 11...
16,Horse colic,Horse colic/horseV2_processada.csv,surgery,could not convert string to float: '3.816.861....
17,Ionosfera,Ionosfera/ionosphere.csv,target,"Input contains NaN, infinity or a value too la..."
18,KC2,KC2/KC2.csv,defects,{'Quantidade de instâncias contrafactuais': 11...
19,liver disorders_bupa,liver disorders_bupa/bupa.csv,selector,{'Quantidade de instâncias contrafactuais': 11...
20,mammographic_masses,mammographic_masses/mammographic_masses_cleane...,Severity,{'Quantidade de instâncias contrafactuais': 11...
21,Mobile Price Classification,Mobile Price Classification/train_mobile_proce...,range,[{'Quantidade de instâncias contrafactuais': 1...
22,Monk_1,"['Monk/monks-1_train.csv', 'Monk/monks-1_test....",Class,[{'Quantidade de instâncias contrafactuais': 1...
23,Monk_2,"['Monk/monks-2_train.csv', 'Monk/monks-2_test....",Class,[{'Quantidade de instâncias contrafactuais': 1...
24,Monk_3,"['Monk/monks-3_train.csv', 'Monk/monks-3_test....",Class,[{'Quantidade de instâncias contrafactuais': 1...
25,Musk,Musk/clean1.csv,Column167,list.remove(x): x not in list
26,OnlineNewsPopularity,OnlineNewsPopularity/OnlineNewsPopularity_proc...,class,could not convert string to float: '457.260.92...
27,Phishing,Phishing/Phishing.csv,Class,{'Quantidade de instâncias contrafactuais': 11...
28,Room Occupancy,Room Occupancy/Room Occupancy.csv,Occupancy,{'Quantidade de instâncias contrafactuais': 11...
29,Sonar,Sonar/sonar.all-data.csv,class,{'Quantidade de instâncias contrafactuais': 11...
30,Spambase,Spambase/Spambase.csv,Class,{'Quantidade de instâncias contrafactuais': 11...
31,Student,Student/Students-Performance-MAT_processada.csv,Class,"Input contains NaN, infinity or a value too la..."
32,titanic,titanic/titanic_processada.csv,Survived,"Input contains NaN, infinity or a value too la..."
33,Tokyo,Tokyo/Tokyo.csv,class,{'Quantidade de instâncias contrafactuais': 11...
34,twonorm,twonorm/twonorm.csv,class,{'Quantidade de instâncias contrafactuais': 11...
35,Vertebral_2C,Vertebral/column_2C.csv,class,{'Quantidade de instâncias contrafactuais': 11...
36,Vertebral_3C,Vertebral/column_3C.csv,class,NaN
37,Votes_Congressional,Votes_Congressional/house-votes-84_processada.csv,Class Name,{'Quantidade de instâncias contrafactuais': 11...
38,wine,wine/WineQT.csv,quality,demorou demais
39,Hill,"['Hill/Hill_Valley_with_noise_Training.csv', '...",class,NaN

In [167]:
dfm_use.loc[10, 'metrica'] = json.dumps({'Quantidade de instâncias contrafactuais': 110,
 'Quantidade de relações causais na base de dados': 84,
 'Quantidade de atributos modificados': 0,
 'Quantidade de instâncias contrafactuais causais': 0,
 'Quantidade de relações causais analisadas': 0,
 'Quantidade de relações causais satisfeitas': 0,
 'Quantidade de instâncias contrafactuais com um único atributo modificado': 0,
 'Tempo de execução': 5.401427745819092})

In [1]:
dfm_use

NameError: name 'dfm_use' is not defined

In [169]:
dfm_use.to_parquet(f"s3://omar-testes-gerais/artigos/artifacts/dfm_use.parquet", engine = 'pyarrow')

# ----------------------------------------------------------------------------------------------

In [ ]:
groups = {
    "memoria": ["Adult", "Credit default", 'wine', 'Vertebral_3C'],
    'falta': ['EEg', "Hill", "Mobile Price Classification"]
}

In [269]:
dfz = pd.read_parquet(f"s3://omar-testes-gerais/artigos/artifacts/dfm_use.parquet")
dfz

,name,path,classe,metrica,metrica_v2
0,Adult,adult/adult_processada.csv,Above/Below 50K,memoria 18gb,None
1,Australian,Australian/Credit_Card_Applications.csv,Class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
2,Banknote,Banknote/BankNote_Authentication.csv,class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
3,Biodeg,Biodeg/qsar-biodeg.csv,Class,"{\n ""Quantidade de instâncias contrafactuai...",zero metricas
4,Breast Cancer Coimbra,Breast Cancer Coimbra/breast_coimbra.csv,Classification,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
5,Breast Cancer Wisconsin,Breast Cancer Wisconsin/breast-cancer.csv,diagnosis,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
6,Churn,Churn/WA_Fn-UseC_-Telco-Customer-Churn_process...,Churn,"Input contains NaN, infinity or a value too la...",None
7,Compas,Compas/compas-scores-two-years.csv,two_year_recid,base de dados nao processada,None
8,Credit default,Credit default/UCI_Credit_Card.csv,default.payment.next.month,memoria,None
9,Diabetes,Diabetes/diabetes.csv,Outcome,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
10,EEg,EEg/EEG Eye State.csv,Column15,memoria,None
11,German,German/german_credit.csv,default,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
12,GiveMeSomeCredit,GiveMeSomeCredit/GiveMeSomeCredit_processada.csv,SeriousDlqin2yrs,memoria,None
13,Heart,Heart/heart.csv,output,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
14,Heart_2,Heart/heart2.csv,num,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
15,HELOC,HELOC/heloc_dataset_v1.csv,RiskPerformance,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
16,Horse colic,Horse colic/horseV2_processada.csv,surgery,array must not contain infs or NaNs,None
17,Ionosfera,Ionosfera/ionosphere.csv,target,array must not contain infs or NaNs,None
18,KC2,KC2/KC2.csv,defects,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
19,liver disorders_bupa,liver disorders_bupa/bupa.csv,selector,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
20,mammographic_masses,mammographic_masses/mammographic_masses_cleane...,Severity,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
21,Mobile Price Classification,Mobile Price Classification/train_mobile_proce...,range,"{\n ""Quantidade de instâncias contrafactuai...",None
22,Monk_1,"['Monk/monks-1_train.csv', 'Monk/monks-1_test....",Class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
23,Monk_2,"['Monk/monks-2_train.csv', 'Monk/monks-2_test....",Class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
24,Monk_3,"['Monk/monks-3_train.csv', 'Monk/monks-3_test....",Class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
25,Musk,Musk/clean1.csv,Column165,fica dando erro de coluna,None
26,OnlineNewsPopularity,OnlineNewsPopularity/OnlineNewsPopularity_proc...,class,memoria,None
27,Phishing,Phishing/Phishing.csv,Class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
28,Room Occupancy,Room Occupancy/Room Occupancy.csv,Occupancy,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
29,Sonar,Sonar/sonar.all-data.csv,class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
30,Spambase,Spambase/Spambase.csv,Class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
31,Student,Student/Students-Performance-MAT_processada.csv,Class,array must not contain infs or NaNs,None
32,titanic,titanic/titanic_processada.csv,Survived,"Input contains NaN, infinity or a value too la...",None
33,Tokyo,Tokyo/Tokyo.csv,class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
34,twonorm,twonorm/twonorm.csv,class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
35,Vertebral_2C,Vertebral/column_2C.csv,class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
36,Vertebral_3C,Vertebral/column_3C.csv,class,{},None
37,Votes_Congressional,Votes_Congressional/house-votes-84_processada.csv,Class Name,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
38,wine,wine/WineQT.csv,quality,demorou demais,None
39,Hill,"['Hill/Hill_Valley_with_noise_Training.csv', '...",class,"{\n ""Quantidade de instâncias contrafactuai...",zero metricas

In [266]:
dfz.loc[10, 'metrica_v2'] = None
dfz

,name,path,classe,metrica,metrica_v2
0,Adult,adult/adult_processada.csv,Above/Below 50K,memoria 18gb,None
1,Australian,Australian/Credit_Card_Applications.csv,Class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
2,Banknote,Banknote/BankNote_Authentication.csv,class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
3,Biodeg,Biodeg/qsar-biodeg.csv,Class,"{\n ""Quantidade de instâncias contrafactuai...",zero metricas
4,Breast Cancer Coimbra,Breast Cancer Coimbra/breast_coimbra.csv,Classification,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
5,Breast Cancer Wisconsin,Breast Cancer Wisconsin/breast-cancer.csv,diagnosis,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
6,Churn,Churn/WA_Fn-UseC_-Telco-Customer-Churn_process...,Churn,"Input contains NaN, infinity or a value too la...",None
7,Compas,Compas/compas-scores-two-years.csv,two_year_recid,base de dados nao processada,None
8,Credit default,Credit default/UCI_Credit_Card.csv,default.payment.next.month,memoria,None
9,Diabetes,Diabetes/diabetes.csv,Outcome,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
10,EEg,EEg/EEG Eye State.csv,Column15,memoria,None
11,German,German/german_credit.csv,default,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
12,GiveMeSomeCredit,GiveMeSomeCredit/GiveMeSomeCredit_processada.csv,SeriousDlqin2yrs,memoria,None
13,Heart,Heart/heart.csv,output,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
14,Heart_2,Heart/heart2.csv,num,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
15,HELOC,HELOC/heloc_dataset_v1.csv,RiskPerformance,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
16,Horse colic,Horse colic/horseV2_processada.csv,surgery,array must not contain infs or NaNs,None
17,Ionosfera,Ionosfera/ionosphere.csv,target,array must not contain infs or NaNs,None
18,KC2,KC2/KC2.csv,defects,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
19,liver disorders_bupa,liver disorders_bupa/bupa.csv,selector,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
20,mammographic_masses,mammographic_masses/mammographic_masses_cleane...,Severity,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
21,Mobile Price Classification,Mobile Price Classification/train_mobile_proce...,range,"{\n ""Quantidade de instâncias contrafactuai...",None
22,Monk_1,"['Monk/monks-1_train.csv', 'Monk/monks-1_test....",Class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
23,Monk_2,"['Monk/monks-2_train.csv', 'Monk/monks-2_test....",Class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
24,Monk_3,"['Monk/monks-3_train.csv', 'Monk/monks-3_test....",Class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
25,Musk,Musk/clean1.csv,Column165,fica dando erro de coluna,None
26,OnlineNewsPopularity,OnlineNewsPopularity/OnlineNewsPopularity_proc...,class,memoria,None
27,Phishing,Phishing/Phishing.csv,Class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
28,Room Occupancy,Room Occupancy/Room Occupancy.csv,Occupancy,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
29,Sonar,Sonar/sonar.all-data.csv,class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
30,Spambase,Spambase/Spambase.csv,Class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
31,Student,Student/Students-Performance-MAT_processada.csv,Class,array must not contain infs or NaNs,None
32,titanic,titanic/titanic_processada.csv,Survived,"Input contains NaN, infinity or a value too la...",None
33,Tokyo,Tokyo/Tokyo.csv,class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
34,twonorm,twonorm/twonorm.csv,class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
35,Vertebral_2C,Vertebral/column_2C.csv,class,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
36,Vertebral_3C,Vertebral/column_3C.csv,class,{},None
37,Votes_Congressional,Votes_Congressional/house-votes-84_processada.csv,Class Name,"{""Quantidade de inst\u00e2ncias contrafactuais...",None
38,wine,wine/WineQT.csv,quality,demorou demais,None
39,Hill,"['Hill/Hill_Valley_with_noise_Training.csv', '...",class,"{\n ""Quantidade de instâncias contrafactuai...",zero metricas

In [267]:
dfz.to_parquet(f"s3://omar-testes-gerais/artigos/artifacts/dfm_use.parquet", engine = 'pyarrow')

In [257]:
df_use_index = 25
dfz.iloc[df_use_index]['metrica']

'list.remove(x): x not in list'

In [258]:
path = 's3://omar-testes-gerais/artigos/artifacts/datasets'

dfx = pd.read_csv(f"{path}/{dfz.iloc[df_use_index]['path']}", header = None)
# dfx = pd.read_csv(f"{path}/{dfz.iloc[df_use_index]['path']}")
dfx.head()

,0,1,2,3,4,5,6,7,8,9,...,155,156,157,158,159,160,161,162,163,164
0,42,-191,-142,-65,-117,55,49,-170,-45,5,...,-302,60,-120.0,-39.0,31,48.0,-37.0,5.0,30.0,1.0
1,42,-191,-142,-75,-117,11,49,-161,-45,-28,...,-73,-127,-120.0,-38.0,30,48.0,-37.0,5.0,31.0,1.0
2,42,-198,-110,-65,-117,55,23,-95,-28,5,...,-302,60,-120.0,-39.0,30,48.0,-37.0,6.0,30.0,1.0
3,42,-198,-102,-75,-117,10,24,-87,-28,-28,...,-73,-127,51.0,128.0,144,43.0,-30.0,14.0,26.0,1.0
4,42,-191,-142,-65,-117,55,49,-170,-45,6,...,-300,61,51.0,127.0,143,42.0,-31.0,14.0,26.0,1.0

In [210]:
dfx.shape

(475, 167)

In [211]:
dfx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475 entries, 0 to 474
Columns: 167 entries, 0 to 166
dtypes: float64(34), int64(133)
memory usage: 619.9 KB

In [160]:
valor_procurado = '316.142.857.143'
colunas_com_valor = [col for col in dfx.columns if dfx[col].astype(str).str.contains(valor_procurado).any()]
# colunas_com_valor = [col for col in dfx.columns if dfx[col].astype(str).str.contains(valor_procurado).any()]

colunas_com_valor

[' kw_avg_min', ' kw_avg_max']

In [212]:
# Função para verificar se um valor pode ser convertido para float
def pode_converter_para_float(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

for col in dfx.columns:
    # Aplicar a função nas duas colunas
    dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
dfx

/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)
/tmp/ipykernel_16424/693293896.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfx[f'{str(col)}_convert'] = dfx[col].apply(pode_converter_para_float)

,0,1,2,3,4,5,6,7,8,9,...,157_convert,158_convert,159_convert,160_convert,161_convert,162_convert,163_convert,164_convert,165_convert,166_convert
0,42,-191,-142,-65,-117,55,49,-170,-45,5,...,True,True,True,True,True,True,True,True,True,True
1,42,-191,-142,-75,-117,11,49,-161,-45,-28,...,True,True,True,True,True,True,True,True,True,True
2,42,-198,-110,-65,-117,55,23,-95,-28,5,...,True,True,True,True,True,True,True,True,True,True
3,42,-198,-102,-75,-117,10,24,-87,-28,-28,...,True,True,True,True,True,True,True,True,True,True
4,42,-191,-142,-65,-117,55,49,-170,-45,6,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,49,-199,-161,29,-95,-86,-48,2,112,-79,...,True,True,True,True,True,True,True,True,True,True
471,38,-123,-139,30,-117,-88,214,-13,-74,-129,...,True,True,True,True,True,True,True,True,True,True
472,43,-102,-20,-101,-116,200,-166,66,-222,-49,...,True,True,True,True,True,True,True,True,True,True
473,39,-58,27,31,-117,-92,85,21,-73,-68,...,True,True,True,True,True,True,True,True,True,True
474,52,-121,-24,-104,-116,195,-162,76,-226,-56,...,True,True,True,True,True,True,True,True,True,True

In [213]:
# Filtrar as colunas que contêm "_convert" no nome
colunas_convert = [col for col in dfx.columns if '_convert' in str(col)]
print(colunas_convert)
# Contar os valores False em cada coluna
contagem_falsos = dfx[colunas_convert].apply(lambda coluna: (coluna == False).sum())

# print("Quantidade de False em cada coluna '_convert':")
# print(contagem_falsos)
contagem_falsos[contagem_falsos > 1]

['0_convert', '1_convert', '2_convert', '3_convert', '4_convert', '5_convert', '6_convert', '7_convert', '8_convert', '9_convert', '10_convert', '11_convert', '12_convert', '13_convert', '14_convert', '15_convert', '16_convert', '17_convert', '18_convert', '19_convert', '20_convert', '21_convert', '22_convert', '23_convert', '24_convert', '25_convert', '26_convert', '27_convert', '28_convert', '29_convert', '30_convert', '31_convert', '32_convert', '33_convert', '34_convert', '35_convert', '36_convert', '37_convert', '38_convert', '39_convert', '40_convert', '41_convert', '42_convert', '43_convert', '44_convert', '45_convert', '46_convert', '47_convert', '48_convert', '49_convert', '50_convert', '51_convert', '52_convert', '53_convert', '54_convert', '55_convert', '56_convert', '57_convert', '58_convert', '59_convert', '60_convert', '61_convert', '62_convert', '63_convert', '64_convert', '65_convert', '66_convert', '67_convert', '68_convert', '69_convert', '70_convert', '71_convert', '72_convert', '73_convert', '74_convert', '75_convert', '76_convert', '77_convert', '78_convert', '79_convert', '80_convert', '81_convert', '82_convert', '83_convert', '84_convert', '85_convert', '86_convert', '87_convert', '88_convert', '89_convert', '90_convert', '91_convert', '92_convert', '93_convert', '94_convert', '95_convert', '96_convert', '97_convert', '98_convert', '99_convert', '100_convert', '101_convert', '102_convert', '103_convert', '104_convert', '105_convert', '106_convert', '107_convert', '108_convert', '109_convert', '110_convert', '111_convert', '112_convert', '113_convert', '114_convert', '115_convert', '116_convert', '117_convert', '118_convert', '119_convert', '120_convert', '121_convert', '122_convert', '123_convert', '124_convert', '125_convert', '126_convert', '127_convert', '128_convert', '129_convert', '130_convert', '131_convert', '132_convert', '133_convert', '134_convert', '135_convert', '136_convert', '137_convert', '138_convert', '139_convert', '140_convert', '141_convert', '142_convert', '143_convert', '144_convert', '145_convert', '146_convert', '147_convert', '148_convert', '149_convert', '150_convert', '151_convert', '152_convert', '153_convert', '154_convert', '155_convert', '156_convert', '157_convert', '158_convert', '159_convert', '160_convert', '161_convert', '162_convert', '163_convert', '164_convert', '165_convert', '166_convert']

Series([], dtype: int64)

In [253]:
dfx = dfx.drop([12], axis = 1)
dfx

,0,1,2,3,4,5,6,7,8,9,...,156,157,158,159,160,161,162,163,164,165
0,42,-191,-142,-65,-117,55,49,-170,-45,5,...,-302,60,-120.0,-39.0,31,48.0,-37.0,5.0,30.0,1.0
1,42,-191,-142,-75,-117,11,49,-161,-45,-28,...,-73,-127,-120.0,-38.0,30,48.0,-37.0,5.0,31.0,1.0
2,42,-198,-110,-65,-117,55,23,-95,-28,5,...,-302,60,-120.0,-39.0,30,48.0,-37.0,6.0,30.0,1.0
3,42,-198,-102,-75,-117,10,24,-87,-28,-28,...,-73,-127,51.0,128.0,144,43.0,-30.0,14.0,26.0,1.0
4,42,-191,-142,-65,-117,55,49,-170,-45,6,...,-300,61,51.0,127.0,143,42.0,-31.0,14.0,26.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,49,-199,-161,29,-95,-86,-48,2,112,-79,...,-246,-209,33.0,152.0,134,47.0,-43.0,-15.0,-10.0,0.0
471,38,-123,-139,30,-117,-88,214,-13,-74,-129,...,-226,-210,20.0,55.0,119,79.0,-28.0,4.0,74.0,0.0
472,43,-102,-20,-101,-116,200,-166,66,-222,-49,...,32,136,-15.0,143.0,121,55.0,-37.0,-19.0,-36.0,0.0
473,39,-58,27,31,-117,-92,85,21,-73,-68,...,-232,-206,13.0,45.0,116,79.0,-28.0,3.0,74.0,0.0
474,52,-121,-24,-104,-116,195,-162,76,-226,-56,...,34,133,-20.0,-46.0,95,98.0,-14.0,12.0,96.0,0.0

In [217]:
# Filtrar as colunas que contêm "_convert" no nome
colunas_convert = [col for col in dfx.columns if '_convert' in str(col)]

# Dropar as colunas do DataFrame
dfx = dfx.drop(columns=colunas_convert)
dfx

,0,1,2,3,4,5,6,7,8,9,...,157,158,159,160,161,162,163,164,165,166
0,42,-191,-142,-65,-117,55,49,-170,-45,5,...,-302,60,-120.0,-39.0,31,48.0,-37.0,5.0,30.0,1.0
1,42,-191,-142,-75,-117,11,49,-161,-45,-28,...,-73,-127,-120.0,-38.0,30,48.0,-37.0,5.0,31.0,1.0
2,42,-198,-110,-65,-117,55,23,-95,-28,5,...,-302,60,-120.0,-39.0,30,48.0,-37.0,6.0,30.0,1.0
3,42,-198,-102,-75,-117,10,24,-87,-28,-28,...,-73,-127,51.0,128.0,144,43.0,-30.0,14.0,26.0,1.0
4,42,-191,-142,-65,-117,55,49,-170,-45,6,...,-300,61,51.0,127.0,143,42.0,-31.0,14.0,26.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,49,-199,-161,29,-95,-86,-48,2,112,-79,...,-246,-209,33.0,152.0,134,47.0,-43.0,-15.0,-10.0,0.0
471,38,-123,-139,30,-117,-88,214,-13,-74,-129,...,-226,-210,20.0,55.0,119,79.0,-28.0,4.0,74.0,0.0
472,43,-102,-20,-101,-116,200,-166,66,-222,-49,...,32,136,-15.0,143.0,121,55.0,-37.0,-19.0,-36.0,0.0
473,39,-58,27,31,-117,-92,85,21,-73,-68,...,-232,-206,13.0,45.0,116,79.0,-28.0,3.0,74.0,0.0
474,52,-121,-24,-104,-116,195,-162,76,-226,-56,...,34,133,-20.0,-46.0,95,98.0,-14.0,12.0,96.0,0.0

In [218]:
dfx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475 entries, 0 to 474
Columns: 166 entries, 0 to 166
dtypes: float64(34), int64(132)
memory usage: 616.1 KB

In [219]:
# Converte todas as colunas para numérico, substituindo valores não numéricos por NaN
df_numeric = dfx.apply(pd.to_numeric, errors='coerce')

# Verifica se existe algum valor NaN
tem_nan = df_numeric.isna().values.any()

# Verifica se existe algum valor Inf ou -Inf
tem_inf = np.isinf(df_numeric).values.any()

# Limita valores muito grandes ao máximo permitido por float32
max_float32 = np.finfo(np.float32).max
df_numeric = df_numeric.clip(upper=max_float32)

valores_grandes = (df_numeric.abs() > np.finfo(np.float32).max).sum()

print(f"Contém NaN: {tem_nan}")
print(f"Contém Inf ou -Inf: {tem_inf}")
print("Valores maiores que float32:\n", valores_grandes)


colunas_com_nan = df_numeric.columns[df_numeric.isna().any()].tolist()

print("Colunas com NaN:", colunas_com_nan)

Contém NaN: False
Contém Inf ou -Inf: False
Valores maiores que float32:
 0      0
1      0
2      0
3      0
4      0
      ..
162    0
163    0
164    0
165    0
166    0
Length: 166, dtype: int64
Colunas com NaN: []

In [193]:
# index_to_drop = dfx.loc[dfx[' average_token_length'] == valor_procurado].index.to_list()
index_to_drop = list(df_numeric[df_numeric[' self_reference_avg_sharess'].isna()].index)
index_to_drop

[4,
 6,
 7,
 16,
 19,
 20,
 22,
 36,
 42,
 43,
 44,
 46,
 51,
 58,
 59,
 60,
 62,
 64,
 71,
 74,
 85,
 89,
 90,
 95,
 97,
 101,
 102,
 103,
 109,
 114,
 120,
 132,
 148,
 163,
 167,
 171,
 174,
 177,
 179,
 192,
 194,
 207,
 213,
 222,
 223,
 247,
 260,
 266,
 268,
 275,
 289,
 290,
 292,
 297,
 298,
 306,
 316,
 318,
 321,
 323,
 324,
 325,
 330,
 332,
 336,
 338,
 350,
 386,
 394,
 397,
 426,
 434,
 440,
 457,
 462,
 493,
 494,
 506,
 517,
 526,
 532,
 534,
 579,
 588,
 606,
 622,
 636,
 650,
 655,
 670,
 682,
 683,
 684,
 703,
 710,
 756,
 759,
 766,
 768,
 769,
 804,
 812,
 813,
 843,
 850,
 853,
 854,
 862,
 870,
 892,
 907,
 923,
 979,
 983,
 996,
 1002,
 1010,
 1011,
 1031,
 1063,
 1066,
 1067,
 1078,
 1106,
 1118,
 1120,
 1137,
 1141,
 1148,
 1169,
 1191,
 1208,
 1209,
 1220,
 1251,
 1269,
 1278,
 1284,
 1285,
 1313,
 1323,
 1337,
 1346,
 1358,
 1361,
 1384,
 1421,
 1439,
 1476,
 1484,
 1523,
 1528,
 1529,
 1532,
 1534,
 1543,
 1546,
 1566,
 1569,
 1601,
 1610,
 1615,
 1622,
 1626,
 1641,
 1673,
 1685,
 1687,
 1709,
 1713,
 1716,
 1721,
 1746,
 1775,
 1783,
 1784,
 1817,
 1840,
 1853,
 1854,
 1859,
 1868,
 1910,
 1950,
 1958,
 1969,
 1995,
 1997,
 1998,
 2007,
 2024,
 2052,
 2089,
 2097,
 2098,
 2130,
 2153,
 2169,
 2176,
 2187,
 2208,
 2218,
 2262,
 2279,
 2297,
 2314,
 2332,
 2368,
 2372,
 2385,
 2392,
 2394,
 2400,
 2407,
 2417,
 2463,
 2468,
 2478,
 2484,
 2493,
 2550,
 2567,
 2569,
 2571,
 2577,
 2582,
 2593,
 2602,
 2608,
 2616,
 2623,
 2630,
 2642,
 2651,
 2658,
 2665,
 2686,
 2694,
 2728,
 2733,
 2735,
 2773,
 2818,
 2825,
 2841,
 2845,
 2872,
 2877,
 2887,
 2894,
 2897,
 2913,
 2926,
 2947,
 2949,
 2955,
 2956,
 2968,
 2979,
 2981,
 2989,
 3025,
 3031,
 3036,
 3056,
 3059,
 3067,
 3069,
 3107,
 3109,
 3118,
 3121,
 3132,
 3134,
 3162,
 3191,
 3200,
 3234,
 3249,
 3267,
 3269,
 3289,
 3298,
 3306,
 3311,
 3323,
 3328,
 3342,
 3344,
 3349,
 3354,
 3361,
 3362,
 3380,
 3388,
 3391,
 3392,
 3402,
 3404,
 3406,
 3415,
 3423,
 3432,
 3441,
 3451,
 3462,
 3469,
 3471,
 3493,
 3509,
 3527,
 3541,
 3543,
 3564,
 3569,
 3607,
 3616,
 3632,
 3641,
 3662,
 3664,
 3674,
 3675,
 3680,
 3719,
 3735,
 3756,
 3763,
 3764,
 3771,
 3785,
 3814,
 3817,
 3826,
 3835,
 3839,
 3842,
 3867,
 3892,
 3897,
 3911,
 3916,
 3924,
 3932,
 3936,
 3938,
 3942,
 3954,
 3961,
 3973,
 3979,
 3999,
 4006,
 4008,
 4010,
 4015,
 4035,
 4038,
 4049,
 4066,
 4074,
 4075,
 4087,
 4101,
 4136,
 4151,
 4154,
 4161,
 4172,
 4179,
 4182,
 4191,
 4199,
 4200,
 4203,
 4233,
 4247,
 4248,
 4251,
 4259,
 4260,
 4264,
 4268,
 4273,
 4276,
 4284,
 4289,
 4298,
 4314,
 4317,
 4342,
 4357,
 4382,
 4394,
 4403,
 4418,
 4429,
 4439,
 4445,
 4454,
 4462,
 4463,
 4467,
 4481,
 4493,
 4496,
 4515,
 4533,
 4543,
 4549,
 4566,
 4569,
 4570,
 4573,
 4585,
 4593,
 4604,
 4606,
 4608,
 4612,
 4618,
 4622,
 4630,
 4639,
 4643,
 4644,
 4646,
 4661,
 4675,
 4702,
 4735,
 4739,
 4745,
 4753,
 4766,
 4783,
 4797,
 4807,
 4820,
 4844,
 4869,
 4876,
 4880,
 4885,
 4886,
 4896,
 4904,
 4918,
 4929,
 4944,
 4970,
 4984,
 4988,
 5009,
 5011,
 5013,
 5028,
 5057,
 5067,
 5078,
 5095,
 5105,
 5109,
 5111,
 5122,
 5141,
 5142,
 5165,
 5178,
 5181,
 5194,
 5199,
 5201,
 5209,
 5220,
 5221,
 5227,
 5232,
 5237,
 5270,
 5271,
 5293,
 5309,
 5315,
 5318,
 5330,
 5342,
 5370,
 5372,
 5382,
 5388,
 5394,
 5407,
 5412,
 5455,
 5466,
 5470,
 5473,
 5475,
 5488,
 5489,
 5508,
 5511,
 5524,
 5525,
 5535,
 5544,
 5551,
 5557,
 5563,
 5586,
 5593,
 5599,
 5603,
 5656,
 5660,
 5664,
 5665,
 5668,
 5672,
 5674,
 5693,
 5706,
 5725,
 5749,
 5751,
 5754,
 5766,
 5769,
 5786,
 5788,
 5803,
 5808,
 5849,
 5851,
 5853,
 5873,
 5874,
 5888,
 5889,
 5908,
 5918,
 5923,
 5928,
 5936,
 5938,
 5940,
 5941,
 5945,
 5950,
 5966,
 5991,
 6000,
 6005,
 6023,
 6033,
 6034,
 6039,
 6048,
 6057,
 6065,
 6076,
 6087,
 6089,
 6094,
 6097,
 6101,
 6112,
 6134,
 6150,
 6153,
 6187,
 6190,
 6211,
 6218,
 6223,
 6224,
 6269,
 6273,
 6284,
 6288,
 6297,
 6299,
 6316,
 6378,
 6382,
 6393,
 6398,
 6399,
 6416,
 6422,
 6423,
 6428,
 6429,
 6481,
 6499,
 6536,
 6544,
 6546,
 6561,
 6568,
 6587,
 6624,
 6632,
 6646,
 6665,
 6668,
 6694,
 6709,
 6710,
 6725,
 6741,
 6751,
 6754,
 6773,
 6787,
 6805,
 6822,
 6824,
 6835,
 6836,
 6840,
 6859,
 6866,
 6902,
 6944,
 6976,
 6980,
 6989,
 6994,
 7005,
 7014,
 7019,
 7034,
 7043,
 7045,
 7048,
 7051,
 7055,
 7062,
 7065,
 7069,
 7078,
 7083,
 7094,
 7096,
 7105,
 7115,
 7123,
 7163,
 7183,
 7184,
 7189,
 7197,
 7206,
 7212,
 7215,
 7217,
 7221,
 7239,
 7251,
 7261,
 7263,
 7268,
 7274,
 7294,
 7295,
 7312,
 7321,
 7323,
 7341,
 7353,
 7359,
 7361,
 7373,
 7381,
 7384,
 7387,
 7395,
 7406,
 7407,
 7419,
 7431,
 7440,
 7454,
 7485,
 7490,
 7508,
 7534,
 7536,
 7537,
 7547,
 7550,
 7564,
 7574,
 7580,
 7584,
 7588,
 7589,
 7608,
 7621,
 7626,
 7660,
 7665,
 7679,
 7692,
 7719,
 7729,
 7734,
 7749,
 7751,
 7755,
 7765,
 7771,
 7773,
 7788,
 7789,
 7816,
 7824,
 7828,
 7855,
 7865,
 7873,
 7878,
 7889,
 7890,
 7897,
 7906,
 7923,
 7939,
 7941,
 7951,
 7975,
 7986,
 8007,
 8033,
 8042,
 8051,
 8055,
 8057,
 8058,
 8062,
 8075,
 8081,
 8098,
 8102,
 8118,
 8120,
 8141,
 8158,
 8178,
 8197,
 8208,
 8209,
 8229,
 8238,
 8257,
 8265,
 8269,
 8275,
 8282,
 8293,
 8303,
 8316,
 8333,
 8335,
 8338,
 8339,
 8345,
 8385,
 8387,
 8401,
 8404,
 8406,
 8412,
 8422,
 8438,
 8439,
 8447,
 8451,
 8470,
 8471,
 8489,
 8492,
 8497,
 8498,
 8512,
 8519,
 8524,
 8531,
 8536,
 8565,
 8574,
 8577,
 8594,
 8599,
 8605,
 8635,
 8644,
 8649,
 8674,
 8678,
 8700,
 8709,
 8710,
 8713,
 8717,
 8719,
 8747,
 8753,
 8757,
 8760,
 8764,
 8765,
 8772,
 8810,
 8811,
 8818,
 8855,
 8865,
 8878,
 8891,
 8902,
 8915,
 8920,
 8945,
 8968,
 8973,
 8974,
 8980,
 8986,
 9025,
 9087,
 9090,
 9093,
 9097,
 9103,
 9106,
 9124,
 9129,
 9156,
 9160,
 9174,
 9194,
 9218,
 9239,
 9241,
 9248,
 9256,
 9262,
 9268,
 9269,
 9287,
 9299,
 9310,
 9364,
 9365,
 9377,
 9380,
 9387,
 9389,
 9395,
 9403,
 9411,
 9440,
 9452,
 9456,
 9458,
 9460,
 9461,
 9463,
 9471,
 9478,
 9500,
 9503,
 9507,
 9516,
 9524,
 9527,
 9537,
 9543,
 9550,
 9560,
 9561,
 9572,
 9580,
 9583,
 9593,
 9603,
 9605,
 9611,
 9617,
 9618,
 9626,
 9630,
 9634,
 9657,
 9658,
 9665,
 9668,
 9687,
 9702,
 9705,
 9720,
 9721,
 9724,
 9725,
 9731,
 9736,
 9745,
 9778,
 9788,
 9790,
 9808,
 9828,
 9830,
 9834,
 9838,
 9840,
 9858,
 9861,
 9871,
 9876,
 9883,
 9893,
 9896,
 9909,
 9913,
 9922,
 9930,
 9931,
 9933,
 9952,
 9956,
 9968,
 9975,
 9991,
 9997,
 10013,
 10017,
 10027,
 10037,
 10038,
 10057,
 10082,
 10092,
 10096,
 10101,
 10119,
 10133,
 10138,
 10141,
 10142,
 10155,
 10171,
 10174,
 10182,
 10189,
 10190,
 10196,
 10212,
 10213,
 10220,
 10234,
 10247,
 10286,
 10287,
 10290,
 10298,
 10305,
 10336,
 10362,
 10369,
 10371,
 10374,
 10386,
 10400,
 10401,
 10410,
 10445,
 10455,
 10498,
 10505,
 10513,
 10560,
 10583,
 10594,
 10605,
 10620,
 10638,
 10642,
 10650,
 10654,
 10656,
 10657,
 10658,
 10672,
 10708,
 10709,
 10712,
 ...]

In [220]:
# dfx = dfx.drop(index_to_drop)
# dfx = dfx.drop(['convert'], axis = 1)
dfx

,0,1,2,3,4,5,6,7,8,9,...,157,158,159,160,161,162,163,164,165,166
0,42,-191,-142,-65,-117,55,49,-170,-45,5,...,-302,60,-120.0,-39.0,31,48.0,-37.0,5.0,30.0,1.0
1,42,-191,-142,-75,-117,11,49,-161,-45,-28,...,-73,-127,-120.0,-38.0,30,48.0,-37.0,5.0,31.0,1.0
2,42,-198,-110,-65,-117,55,23,-95,-28,5,...,-302,60,-120.0,-39.0,30,48.0,-37.0,6.0,30.0,1.0
3,42,-198,-102,-75,-117,10,24,-87,-28,-28,...,-73,-127,51.0,128.0,144,43.0,-30.0,14.0,26.0,1.0
4,42,-191,-142,-65,-117,55,49,-170,-45,6,...,-300,61,51.0,127.0,143,42.0,-31.0,14.0,26.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,49,-199,-161,29,-95,-86,-48,2,112,-79,...,-246,-209,33.0,152.0,134,47.0,-43.0,-15.0,-10.0,0.0
471,38,-123,-139,30,-117,-88,214,-13,-74,-129,...,-226,-210,20.0,55.0,119,79.0,-28.0,4.0,74.0,0.0
472,43,-102,-20,-101,-116,200,-166,66,-222,-49,...,32,136,-15.0,143.0,121,55.0,-37.0,-19.0,-36.0,0.0
473,39,-58,27,31,-117,-92,85,21,-73,-68,...,-232,-206,13.0,45.0,116,79.0,-28.0,3.0,74.0,0.0
474,52,-121,-24,-104,-116,195,-162,76,-226,-56,...,34,133,-20.0,-46.0,95,98.0,-14.0,12.0,96.0,0.0

In [254]:
dfx.to_csv(f"{path}/{dfz.iloc[df_use_index]['path']}", index = False, header = False)
# dfx.to_csv(f"{path}/{dfz.iloc[df_use_index]['path']}", index = False)

In [188]:
# dfx = dfx.drop('abdomo_protein', axis = 1)
# dfx[dfx['sogastric_reflux_ph'] != '4.707.547.169.811.320']
dfx['cp_data'] = dfx['cp_data'].map({'yes': 1, 'no': 0})

dfx

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,pain,peristalsis,...,capillary_refill_time=more_3_sec,abdomen=2,abdomen=distend_large,abdomen=distend_small,abdomen=firm,abdomen=other,outcome=died,outcome=euthanized,outcome=lived,cp_data
0,0,0,530101,38.5,66,28,1,1,5,4,...,1,0,1,0,0,0,1,0,0,0
1,1,0,534817,39.2,88,20,1,1,3,4,...,0,0,0,0,0,1,0,1,0,0
2,0,0,530334,38.3,40,24,2,2,3,3,...,0,1,0,0,0,0,0,0,1,1
3,1,1,5290409,39.1,164,84,0,2,2,4,...,1,0,1,0,0,0,1,0,0,1
4,0,0,530255,37.3,104,35,1,1,2,2,...,1,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,0,0,533902,38.5,40,16,2,2,2,1,...,0,0,0,0,0,1,0,0,1,0
235,0,0,527702,37.2,72,24,1,3,4,3,...,1,0,0,1,0,0,0,1,0,1
236,1,0,529386,37.5,72,30,0,1,4,4,...,0,0,1,0,0,0,1,0,0,0
237,1,0,530612,36.5,100,24,1,1,3,3,...,0,0,0,1,0,0,0,0,1,1
238,1,0,534618,37.2,40,20,1,1,2,2,...,0,1,0,0,0,0,0,1,0,0